*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color:white;

}

.navlist{
    display: flex;
}

.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover{
    border-bottom: 2px solid white;
}

#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: url(deneme3.png);
    background-position:2870px 1800px;
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 350px 1fr;
}

section{
    padding: 0 30px;
}

.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom:40px ;
}

.hero-text h1{
    font-family: 'Permanent Marker' , cursive;
    font-size: 90px;
    line-height: 1;
    color:white;
    margin: 0 0 45px;
}

.hero-text h4{
    font-size: 18PX;
    font-weight: 600;
    color: white;
    margin-bottom: 10px
}

.hero-text p{
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}

.hero-text a{
    display: inline-block;
    color: white;
    background: #03084c;
    border: 1px solid transparent;
    padding: 12px 20px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}

.hero-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(3px);
}

.hero-text a.ctaa{
    background: transparent;
    border: 1px solid white;
    margin-left: 10px;
}

.ri-play-fill{
    vertical-align: center;
    margin-left: 3px;
}

.icons{
    position: absolute;
    transform: translateX(-130%);
}

.icons i{
    display: inline-block;
    font-size: 24px;
    color: white;
    transition: all .50s ease;
    margin: 0 5px;
}

.icons i:hover{
    color: #0b98c7;
    transform: translateY(-5px);
}

.scroll-down{
    position: absolute;
    bottom: 4%;
    right: 7%;
}
.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background-color:#1009d6 ;
    border-radius: 30px;
    transition: all .50s ease;
}

.scroll-down i:hover{
    transform: translateY(-5px);
}
@media(max-width: 1740px){
    .hero{
        background-position:2700px 1800px;
    }
}

@media (max-width: 1600px){
    .icons i{
        margin-top: 70px;
        font-size: 15px;
        transform: translateX(120px);
    }
}

@media (max-width: 1475px){
    .hero{
        background-position:2600px 1800px;
    }
}

@media (max-width: 1340px){
    .hero-text h1{
        font-size: 70px;
        margin: 0 0 30px;
    }

    .hero{
        background-position:2380px 1900px;
    }
}

@media (max-width: 1000px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: transparent;
        display: flex;
        align-items: center;
        flex-direction: column;
        line-height: 2.4;
        transition: all .55s ease;
    }

    .navlist.open{
        right: 0;
    }
}

@media (max-width: 470px){
    .hero-text h1{
        font-size: 50px;
    }

    .hero-text p{
        font-size: 13px;
    }
}

@media (max-width: 385px){
}
    